@using RoleSample.Models;
@*@model RoleSample.Models.MenuItemModel*@
@model IEnumerable<RoleSample.Models.MenuItemModel>

@{
    ViewBag.Title = "Home Page";
}

@*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js" charset="utf-8"></script>*@
@Scripts.Render("~/bundles/jquery")
@section scripts{
    @*<link media="screen" rel="stylesheet" href="~/Content/superfish.css" />
        <link media="screen" rel="stylesheet" href="~/Content/superfish-vertical.css" />*@
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js" charset="utf-8"></script>
    @*<script type="text/javascript" src="~/Scripts/superfish.js"></script>
        <script type="text/javascript" src="~/Scripts/hoverIntent.js"></script>
        <script type="text/javascript" src="~/Scripts/supersubs.js"></script>*@
    <link href="@Url.Content("~/Content/jqsimplemenu.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jqsimplemenu.js")" type="text/javascript"></script>
}

@*<div style="width: 150px; top: 55px; background: #CCC; font-family:微軟正黑體">
        <ul class="sf-menu sf-vertical" id="myMenu">
            <li class="frontend">
                <a href="javascript:void(0);"><b>系統設定</b></a>
                <ul>
                    <li><a href="/Menu/EnvironmentSet">環境設定</a></li>
                    <li><a href="/Menu/PwdChange">變更自設密碼</a></li>
                </ul>
            </li>
            <li class="frontend">
                <a href="javascript:void(0);"><b>行情報價</b></a>
                <ul>
                    <li><a href="/Menu/ListPrice">上市行情報價</a></li>
                    <li><a href="/Menu/OTCPrice">上櫃情報價</a></li>
                    <li><a href="/Menu/EmergePrice">興櫃行情報價</a></li>
                    <li>
                        <a href="javascript:void(0);">智慧選股</a>
                        <ul>
                            <li><a href="/Menu/Surged">急漲股</a></li>
                            <li><a href="/Menu/Decline">急跌股</a></li>
                            <li><a href="/Menu/SurgedLimit">漲停股</a></li>
                            <li><a href="/Menu/DeclineLimit">跌停股</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="frontend">
                <a href="javascript:void(0);"><b>下單交易</b></a>
                <ul>
                    <li><a href="/Menu/Order">一般下單</a></li>
                    <li><a href="/Menu/OddlotOrder">零股下單</a></li>
                    <li><a href="/Menu/AfterOrder">盤後下單</a></li>
                </ul>
            </li>
            <li class="backend">
                <a href="javascript:void(0);"><b>客戶管理</b></a>
                <ul>
                    <li>
                        <a href="javascript:void(0);">分戶子帳作業</a>
                        <ul>
                            <li><a href="/Menu/SubAccSet">分戶子帳號設定</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">手續費折讓設定</a>
                        <ul>
                            <li><a href="/Menu/CustomerData">一般[月]折讓客戶資料維護</a></li>
                            <li><a href="/Menu/NetCustomerData">網路[月]折讓客戶資料維護</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="backend">
                <a href="javascript:void(0);"><b>成交調帳</b></a>
                <ul>
                    <li><a href="/Menu/ChangeTrans">更改交易類別</a></li>
                    <li>
                        <a href="javascript:void(0);">沖銷資料指定</a>
                        <ul>
                            <li><a href="/Menu/AccSet">資買券賣不當沖</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">不互抵帳號設定</a>
                        <ul>
                            <li><a href="/Menu/StockSet">不互抵股票設定</a></li>
                            <li><a href="/Menu/TrustSet">不互抵委託書號設定</a></li>
                            <li><a href="/Menu/AssignTrustSet">指定互抵委託書號設定</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>*@

<div style="font-family:微軟正黑體">
    <ul class="menu">
        @* ---- 先找出根節點，依順序顯示，再尋訪下層 ---- *@
        @foreach (var mp in Model.Where(p => p.Parent == 0).OrderBy(p => p.Order))
        {
            <li>
                <a href="#">@mp.Name</a>
                @if (Model.Count(p => p.Parent == mp.Id) > 0)
                {
                    @:<ul>
                            }

                @RenderMenuItem(Model, mp)

                @if (Model.Count(p => p.Parent == mp.Id) > 0)
                {
                    @:</ul>
                }
            </li>
        }
    </ul>

    @helper RenderMenuItem(IEnumerable<RoleSample.Models.MenuItemModel> menuList, RoleSample.Models.MenuItemModel mi)
{
    @* ----- 判斷是否有含下層選單 ----- *@
    foreach (var cp in Model.Where(p => p.Parent == mi.Id))
    {
        @* ----- 判斷是否會跳頁 ----- *@
        if (!string.IsNullOrEmpty(@cp.Action))
        {
            @:<li>
                <a href="@Url.Action(@cp.Action, @cp.Controller)">@cp.Name</a>
        }
        else
        {
            @:<li>
            <a href="#">@cp.Name</a>
        }

        if (Model.Count(p => p.Parent == cp.Id) > 0)
        {
            @:<ul>
                }

                @RenderMenuItem(Model, cp)
        if (menuList.Count(p => p.Parent == cp.Id) > 0)
        {
            @:</ul>
            }
        else
        {
            @:</li>
                    }
    }
}
</div>

<script type="text/javascript">
    $( document ).ready( function ()
    {
        $( '.menu' ).jqsimplemenu();

        //$('.menu').supersubs({
        //    minWidth: '150px', maxWidth: '180px', extraWidth: 0
        //}).superfish();
    } );
</script>

@*<div>
        <div>
            @{
                Html.Partial("~/Views/Shared/MenuPartial.cshtml", Model);
            }
        </div>
    </div>*@